<footer>
    <!-- <div class="flex-container"> -->
        <div class="small-container">
        <p>&copy; <%= new Date().getFullYear() %> Aarzoo. All rights reserved.</p>
        </div>
    <!-- </div> -->
</footer>